.header {
    width: 131px;
    height: 43px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: 'Lato Bold', 'Lato Regular', 'Lato', sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
  }
  
  .qualityname {
    width: 527px;
    height: 24px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: 'Lato Bold', 'Lato Regular', 'Lato', sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: center;
    line-height: normal;
  }
  
  .summary{
    width: 527px;
    height: 296px;
    border: 1px solid #797979;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #000000;
    text-align: left;
  }