#searchBar {
  text-align: left;
  padding-top: 15px;
  padding-bottom: 12px;
  width: 100%;
  color: #666666;
  background-color: #ffffff;
}

#hint {
  margin-top: 10px;
  text-align: center;
  /*"0c304a" unimelb colour*/
  color: #0c304a;
}



