#title {
    text-align: center;
    font-family: arial, sans-serif;
}

#projects {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}

#projects td, #projects th {
    border: 1px solid #ddd;
    padding: 8px;
}

#projects tr:nth-child(even){background-color: #004576;}

#projects tr:hover {background-color: #ddd;}

#projects th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #004576;
    /*#4CAF50*/
    /*"0c304a" unimelb colour*/
    color: white;
}

.header {
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: auto;
}