.navbutton {
  display: grid;
  grid-template-columns: 120px;
  grid-template-rows: repeat(2,30px);
  align-items: center;
  justify-items: center;
  background: #014085;

}

.filterwhite{
  height: 30px;
  width: 30px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(212deg) brightness(105%) contrast(102%);
}

.filterblue{
  height: 30px;
  width: 30px;
  filter: invert(14%) sepia(95%) saturate(2871%) hue-rotate(201deg) brightness(87%) contrast(99%);
}